<!-- Account navigation -->

<div class="container">
    <div class="d-flex">
        <a href="account-profile-public.html" class="btn btn-icon btn-group-nav shadow btn-secondary">
            <span class="btn-inner--icon"><i class="fas fa-user"></i></span>
            <span class="btn-inner--text d-none d-md-inline-block">Mon Profil</span>
        </a>
    </div>
    <div class="col-md-6">
    <div class=" card bg-gradient-primary border-0 shadow mb-4">
        <div class="card-body py-3">
            <div class="row row-grid align-items-center">
                <div class="col-lg-8">
                    <div class="media align-items-center">
                        <a href="#" class="avatar avatar-lg rounded-circle mr-3">
                            <img alt="Image placeholder" src="/assets/img/prv/img-7-800x600">
                        </a>
                        <div class="media-body">
                            <h5 class="text-white mb-0">Bérénice Bourgon</h5>
                            <div>
                                <form>
                                    <input type="file" name="file-1[]" id="file-1" class="custom-input-file custom-input-file-link" data-multiple-caption="{count} files selected" multiple />
                                    <label for="file-1">
                                        <span class="text-white">Change avatar</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- General -->

    <div class="col">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-control-label">First name</label>
                <input class="form-control" type="text" placeholder="Enter your first name">
            </div>
            <div class="form-group">
                <label class="form-control-label">Last name</label>
                <input class="form-control" type="text" placeholder="Also your last name">
            </div>
            <div class="form-group">
                <label class="form-control-label">Email</label>
                <input class="form-control" type="email" placeholder="name@exmaple.com">
            </div>
            <div class="form-group">
                <label class="form-control-label">Phone</label>
                <input class="form-control" type="text" placeholder="+40-777 245 549">
            </div>
            <div class="form-group">
                <label class="form-control-label">Address</label>
                <input class="form-control" type="text" placeholder="Enter your home address">
            </div>
            <div class="form-group">
                <label class="form-control-label">City</label>
                <input class="form-control" type="text" placeholder="City">
            </div>

            <div>
                <button type="button" class="btn btn-sm btn-primary">Save changes</button>
                <button type="button" class="btn btn-link">Cancel</button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</section>
</main>
<br/>