<footer class=" footer-dark bg-gradient-primary" >
  <div class="container">
    <div class="row pt-md">
      <div class="col-md-6">
        <div class="copyright text-sm font-weight-bold text-center text-md-left">
            <span class="copyright"> Make with ♥ by moussaillons THP 2019</span>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="https://instagram.com/webpixelsofficial" target="_blank">
            <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/webpixels" target="_blank">
            <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://facebook.com/webpixels" target="_blank">
            <i class="fab fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
